body {
   font-family: "Roboto", sans-serif;
   color: #434455;
   background-color: #FFFFFF;
}


.header {
    width: 1440px;
    height: 72px;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.foto {
    display: block;
}




.header-nav {
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}


.nav-header {
    display: flex;
    align-items: center;
}



.header-logo {
    margin-right: 76px;
}


.head-nav {
    list-style: none;
    display: flex;
    gap: 40px;
    padding-left: 0;
    margin: 0;
}

.contac .contacts-logo {
    color: #404BBF;
}

.contacts-logo {
    text-decoration: none;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 24px 0;
}

::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}


.address-logo {
    display: flex;
    gap: 40px;
    padding-right: 0;
    margin: 0;
}

.mail {
    margin-right: 40px;
}

.phone {
    margin-right: 0;
}



.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5; 
}


 .header-span {
    color: #2e2f42;
 }
 .contacts-logo {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
 }
 .contacts-logo:hover {
    color: #404bbf;
 }
 .contacts-logo:focus {
    color: #404bbf;
 }


 .address-logo {
    list-style: none;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
 }

 .navigation-logo {
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .navigation-logo {
    color: #434455;
 }
 .navigation-logo:hover, .navigation-logo:focus {
    color: #404bbf;
 }




.section-logo {
    max-width: 1440px;
    height: 600px;
    background-color: #2e2f42;
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/people-office.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }



.first-logo {
    max-width: 496px;
    margin: auto;
}

.button {
    margin: auto;
}

.button {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.first-logo {
    padding-top: 188px;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}
 .button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
}
.button:hover, .button:focus {
    background-color: #404BBF;
    color: #FFFFFF;
    cursor: pointer;
}

  /* .section2 */

.feature {
    padding: 120px 0 120px;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.comment {
    list-style: none;
    display: flex;
    gap: 24px;
    padding-left: 0;
    margin: 0;
}

.section-two {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: solid 1px #8e8f99;
    margin-bottom: 8px;
}




.cope-logo {
    width: calc((100% - 72px) / 4);
}

.info-logo {
    margin-bottom: 8px;
}

.info-logo {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.link-logo {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* .section3 */

.photo-logo{
    padding: 120px 0;
}

.team-logo {
    margin-bottom: 72px;
}

.list-photo {
    list-style-type: none;
    display: flex;
    gap: 24px;
    padding-left: 0;
    margin: 0;
}

.limit-logo {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
    margin-right: 24px;
    border-radius: 0px 0px 4px 4px;
}

.limit-logo {
    width: calc((100% - 72px) / 4);
}

.name-info {
    padding: 32px 0;
}

.name-logo {
    text-align: center;
    margin-bottom: 8px;
}

.text-logo {
    text-align: center;
}

.sociale-logo {
    padding-left: 0;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.sociale-items {
    width: 40px;
    height: 40px;
    list-style: none;
}

.sociale-link {
    text-decoration: none;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sociale-link:hover, .sociale-link:focus {
    background-color: #404bbf;
}



.sociale-link-item {
    fill: #f4f4fd;
}


.photo-logo {
    background-color: #F4F4FD;
}


.team-logo {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}


.limit-logo {
    background-color: #FFFFFF;
}


.name-logo {
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}


.text-logo {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.icone-item {
    display: flex;
}



.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-logo {
    margin-bottom: 72px;
}

.portfolio-list {
    display: block;
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    padding-left: 0;
    margin: 0;
}

.portfolio-team:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-team:hover .paragraf {
    transform: translateY(0%);
}

.foto-link {
    position: relative;
    overflow: hidden;
}

.paragraf {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-container {
    padding: 32px 16px;
    border: solid 1px #e7e9fc;
    border-top: none;
}



.portfolio-team {
    list-style: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: calc((100% - 48px) / 3);
}


.last-logo {
    margin-bottom: 8px;
}




.portfolio-logo {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.last-logo {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.our-logo {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    padding: 100px 0;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-p {
    max-width: 264px;
}



.footer {
    background-color: #2e2f42;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-list {
    padding-left: 156px;
    margin-right: 120px;
}


.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.footer-span {
    color: #f4f4fd;
}
.footer-p {
    font-weight: 400;
        font-size: 16px;
    
        /* line-height: 24px; */
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
}

.social-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.social-media {
    margin-bottom: 16px;
}

.social-media {
    margin-top: 0;
}

.social-list {
    display: flex;
    gap: 16px;
}

.social-link {
    list-style: none;
    width: 40px;
    height: 40px;
}

.social-time {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-time:hover, .social-time:focus {
    background-color: #31D0AA;
}



.social-icone {
    fill: #f4f4fd;
}



.footer-email {
    border: 1px solid var(--white);
    border-radius: 4px;
    width: 264px;
    height: 40px;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.model {
    background-color: #FCFCFC;
    border-radius: 4px;
    width: 408px;
    height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    padding: 68px;
}

.popup-close {
    position: absolute;
    right: 24px;
    top: 24px;
    width: 28px;
    height: 28px;
    outline: none;
    background-color: ;
}

.popop-close-list {
    color: #2e2f42;
}